docs/2412.15115v2.pdf
docs/2505.09388v1.pdf
.DS_Store
notebooks/training_output/
.venv/
data/
!blog/data/1.8a_thai_wiki_corpus/*.json
!blog/data/1.8a_thai_wiki_page_ids.txt
**/*.safetensors
**/*.h5
**/*.csv
.vscode/
blog/tensors/Lil_Gatsby/checkpoint-*/
**/.ipynb_checkpoints
archive/box_3/tensors/*/checkpoint-*/
box_4/tensors/*/checkpoint-*/
box_4/tensors/*/checkpoints/
box_4/tensors/*/*.json
box_4/notebooks/analysis/*.png
box_4/scratch/